.container {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
}
.spotify_body {
  display: grid;
  grid-template-columns: 20vw 80vw;
  background-color: rgb(170, 170, 170);
}
.body {
  height: 100%;
  width: 100%;
  overflow:auto;
}
