.container {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  background-image: linear-gradient(to bottom right, #5e72eb,#ff9190);
}
/* .spotify_body {
  display: grid;
  background-color: rgb(170, 170, 170);
} */
.body_navbar {
  overflow:auto;
  display: flex;
  flex-direction: column;
}

.body_contents {
  /* flex-grow: 1; */
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 800px) {
  .spotify_body{
    margin-left: 250px;
  }
}