.containergede{
    display: flex;
    justify-content: center;
}

.details-container{
    max-height:80vh;
    overflow: scroll;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  position: relative; 
  background-color: #373235;
  font-family: "Handwriting", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color:#373235;
    word-wrap: break-word;

}

.details-container img{
    border-radius: 10px;
    max-width: 100%;
    max-height: 70vh;
}

.details-container::-webkit-scrollbar {
  display: none;
}

.details-info{
    height: 95%;
    border-radius: 10px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    background-image: url("../assets/paper.jpg");
    padding-left: 5px;
    padding-right: 5px;
    max-width: 30%;
    min-width: 24rem;
}

.details-info h1{
    font-weight: 900;
}

.details-info h2{
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

.artists{
    margin-bottom: 1rem;
}

.details-info .artist{
    border-radius: 10px;
    text-align:center;
    margin: 0 0 0 0 ;
}

.album_info h3{
    margin: 0 0 0 0 ;
}

.addtoQ{
    border: 2px solid black;
  border-radius: 10px;
  background-color: antiquewhite;
  font-family: "Handwriting", sans-serif;
  font-weight: 900;
  font-size: 1.25rem;
  padding: 5px 5px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  margin-top: 1rem;
}

.addtoQ:hover {
  background-color: black;
  color: antiquewhite;
}

.addtoQ:active {
  background-color: grey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}